<tr>
  <td><%= question.body %></td>
  <td><%= link_to 'Show', question_url_with_test_id(question)  %></td>
  <td><%= link_to 'Edit', edit_question_url_with_test_id(question)  %></td>
  <td>
    <%= link_to 'Delete',
                question_url_with_test_id(question),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
