<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card border-primary">
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
