<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th><%= t('.table.col1')%></th>
      <th><%= t('.table.col2')%></th>
      <th><%= t('.table.col3')%></th>
    </tr>
  </thead>

  <tbody><%= render @badges %></tbody>
</table>
