<footer>
  <p>
    <%= current_year %>, Vitaliy Veykshis<br>
    <%= github_url('VitaliyVeykshis', 'TestGuru') %>,
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </p>
</footer>
