<li>
  <%= answer.body %><br>
  <%= link_to t('.link_to.show'), admin_answer_path(answer)  %> |
  <%= link_to t('.link_to.edit'), edit_admin_answer_path(answer)  %> |
  <%= link_to t('.link_to.delete'),
              admin_answer_path(answer),
              method: :delete,
              data: { confirm: t('.confirm.delete') } %>
</li>
