// Place all the styles related to the UserAnswers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-answer-success-color {
  font-weight: bold;
  color: green;
}

.user-answer-unsuccess-color {
  font-weight: bold;
  color: red;
}
