<h1>Tests</h1>

<table>
  <tr>
    <th>Test</th>
    <th>Questions</th>
    <th>Level</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tests %>
</table>

<p>
  <%= link_to 'Add new test', new_admin_test_path(@test) %><br>
</p>
